@media(max-width: 2560px) {
    .sitesize {
        transform: scale(1);
    }
}

@media(max-width: 1920px) {
    .sitesize {
        transform: scale(0.8);
    }
}

@media(max-width: 1680px) {
    .sitesize {
        transform: scale(0.7);
    }
}

@media(max-width: 1440px) {
    .sitesize {
        transform: scale(0.5);
    }
}

@media(max-width: 960px) {
    .sitesize {
        transform: scale(0.4);
    }
}

@media(max-width: 540px) {
    .sitesize {
        transform: scale(0.3);
    }
}

@media(max-width: 360px) {
    .sitesize {
    }
}

.eachpage{
    width: 182mm;
    height: 257mm;
    background-color: white;
}

body{
    background-color: #333;
    font-family: "Microsoft JhengHei", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bookshelf{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.bookshelf .books{
    display: block;
    position: absolute;
    width: 190px;
    height: auto;
    transform-origin: center;
    transform: rotateX(25deg);
    box-shadow: 2px 8px 7px 3px rgba(0, 0, 0, 0.7);
}

.bookshelf .books:hover{
    transform: scale(1.04) rotateX(25deg);
    //border: 5px solid rgba(255, 255, 255, 1);
}

.bookshelf .text{
    position: absolute;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

/*書本內容*/
.book{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    //margin-left: 450px;
    align-items: center
}

/*flip animation*/
.bookpage{
    position: absolute;
    display: flex;
    width: 182mm;
    height: 257mm;
    background-color: transparent;
    transform-origin: right;
    transition: 2s;
    perspective: 1200px;
}

.bookpage .pagebox{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: right;
    transition: 2s;
    transform-style: preserve-3d;
    border: 1px solid black;
}

.backpage{
    transform: rotateY(180deg);
}

.frontpage, .backpage {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/**/

.book button{
    width: 190px;
    height: 80px;
    font-size: 32px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-left: 450px;
    margin-top: 900px;
    border: 5px solid darkslateblue;
    background-color: #e2d3ff;
    color: #10001f;
    border-radius: 20px;
}

.paper{
    position: relative;
}

.paper .title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    padding: 32px 0 10px 0;
}

.paper .block{
    margin: 0 55px ;
    height: 154px;
}

.paper .vertical{
    text-orientation: upright;
    float: right;
}

.paper .subtitle{
    font-size: 20px;
    font-weight: bold;
    height: 154px;
    text-align: center;
}

.paper .sidepic{
    margin-top: 6px;
    text-align: center;
}

.paper .text{
    font-size: 15px;
    line-height: 1.55;
    height: 154px;
    margin: 0 12px;
}

.paper .titleline{
    margin: 0 8px;
    border: 1.5px solid #111;
    border-radius: 100px;
}


.paper .blockline{
    margin: 22.5px 45px;
    border: 1px solid #111;
    border-radius: 100px;
}

.paper .pictext{
    font-size: 24px;
    font-weight: bold;
}

.paper .flexbox{
    display: flex;
}

.paper .flexbox div{
    flex: 1;
}