.eachpage{
    width: 182mm;
    height: 257mm;
    background-color: white;
}

body{
    background-color: #333;
    font-family: "Microsoft JhengHei", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.book{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.bookpage{
    display: flex;
}

.paper{
    position: relative;
}

.paper .title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    padding: 32px 0 10px 0;
}

.paper .block{
    margin: 0 55px ;
    height: 154px;
}

.paper .vertical{
    text-orientation: upright;
    float: right;
}

.paper .subtitle{
    font-size: 20px;
    font-weight: bold;
    height: 154px;
    text-align: center;
}

.paper .sidepic{
    margin-top: 10px;
    height: 135px;
    text-align: center;
}

.paper .text{
    font-size: 15px;
    line-height: 1.55;
    height: 154px;
    margin: 0 12px;
}

.paper .titleline{
    margin: 0 8px;
    border: 2px solid #111;
    border-radius: 100px;
}


.paper .blockline{
    margin: 22px 45px;
    border: 1.5px solid #111;
    border-radius: 100px;
}

.paper .pictext{
    font-size: 24px;
    font-weight: bold;
}

.paper .flexbox{
    display: flex;
}

.paper .flexbox div{
    flex: 1;
}

